._button.top-line{
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #359c9c;
  font-size: 16px;
  border-top: solid 2px #cbcbcb;
  padding: 15px 45px;
}

._button.top-line:after{
  content: "»";
  margin-left: 10px;
}