.OpenJobs{}
.OpenJobs .inner-banner,
.OpenJobs .inner-banner img{
  float: left;
  width: 100%;
}
.OpenJobs .text-list,
.OpenJobs .inner-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.OpenJobs .category-title{
  margin-bottom: 50px;
}

.OpenJobs .inner-list li{
  color: #359c9c;
  font-weight: 500;
  margin-bottom: 10px;
}
.OpenJobs .inner-list li span{
  color: #7d7873;
  font-weight: 300;
}