.TeamShowcase{
  background-color: #f8f8f8; 
}

.TeamShowcase .video-player{
  float: left;
  margin-right: 50px;
}

.TeamShowcase .main-block{
  float: left;
  width: 100%;  
}

.TeamShowcase .title-group h2{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.TeamShowcase .title-group h3{
  text-transform: none;
  font-style: italic;
  font-weight: 500;
  color: #f9a92f;
  margin: 0;
}

.TeamShowcase .team-cards{
  list-style: none;
  padding: 0;
}
.TeamShowcase .team-cards .member{
  float: left;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.TeamShowcase .team-cards .member img{
  width: 100%;
  height: auto;
}