.TeamShowcase{
  background-color: #f8f8f8; 

  .video-player{
    float: left;
    margin-right: @lg-margin;

    iframe{
      width: 390px;
      height: 220px;
    }
  }
  
  .main-block{
    float: left;
    width: 100%;  
  }

  .title-group {
    padding-bottom: @sm-margin;
    h2{
      text-transform: uppercase;
      font-size: 20px;
      font-weight: @font-bold;
      margin: 0;
    }

    h3{
      text-transform: none;
      font-style: italic;
      font-weight: @font-normal;
      color: @yellow;
      margin: 0;
    }
  }

  .team-cards{
    list-style: none;
    padding: 0;
    
    .member{
      float: left;
      width: 25%;
      padding: 5px;
      box-sizing: border-box;
      
      img{
        width: 100%;
        height: auto;
      }
    }
  }

}

@media @tablet{
  .TeamShowcase{
    .video-player{
      margin-right: @md-margin;
    }
  }
}

@media @phone{

  .TeamShowcase{

    .video-player{
      width: 100%;
      margin-right: 0;
      margin-bottom: @sm-margin;
      iframe{
        width: 100%;
        min-height: 188px;
        height: auto;
      }
    }
    
    .title-group {
      float: left;
      width: 100%;
      text-align: center;
    }

    .team-cards{
      .member{
        width: 50%;
        padding-bottom: 0;
      }
    }
  }
}
