/*
@white       : #ffffff;
@offwhite    : #f8f8f8;
@gray        : #cbcbcb;
@darkgray    : #7d7873;
@yellow      : #f9a92f;
@oceanblue   : #359c9c;
*/

html, body{
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
  color: #7d7873;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}

section{
  float: left;
  width: 100%;
}

/* 
  Alignment
*/
.inner{
  display: block;
  width: 980px;
  margin: 0 auto;
}
.text-center{ text-align: center; }
.pull-left{ float: left: ; }
.pull-right{ float: right: ; }


/*
  Spaces
*/
.sm-margin-top{ margin-top: 25px; }
.sm-margin-bottom{ margin-bottom: 25px; }
.sm-margin-left{ margin-left: 25px; }
.sm-margin-right{ margin-right: 25px; }

.sm-padding-top{ padding-top: 25px; }
.sm-padding-bottom{ padding-bottom: 25px; }
.sm-padding-left{ padding-left: 25px; }
.sm-padding-right{ padding-right: 25px; }

.md-margin-top{ margin-top: 50px; }
.md-margin-bottom{ margin-bottom: 50px; }
.md-margin-left{ margin-left: 50px; }
.md-margin-right{ margin-right: 50px; }

.md-padding-top{ padding-top: 50px; }
.md-padding-bottom{ padding-bottom: 50px; }
.md-padding-left{ padding-left: 50px; }
.md-padding-right{ padding-right: 50px; }

/* Grid */
